@font-face {
    font-family: upbolters;
    src: url(./upbolters.otf);
}

a {
    text-decoration: none;
}

.active-btn {
    background: #bbe5ff;
    color: #010e1c;
}

#app-container {
    display: inline-grid;
    gap: 15px;
    padding: 34px 30px;
    width: 100%;
}

body {
    color: #80AFD1;
    margin: auto;
    font-family: upbolters;
    background: #010E1C;
    font-size: 1.3em;
    max-width: 1230px;
}

#head-container {
    grid-area: head-container;
    display: inline-grid;
    grid-template-columns: 300px 2fr 1fr;
    gap: 15px;
    align-items: center;
    font-size: 20px;
}

#location-block, 
#warnings-container {
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

#warnings-container {
    justify-content: flex-end;
}

span, .active
 {
    color: #BBE5FF;
}

#speed, 
#amount, 
.inactive {
    color: #324C5B;
}

#direction {
    font-size: 22px;
}


#five-day-container {
    grid-area: five-day-container;
}

#hourly-container {
    grid-area: hourly-container;
}

#fifteen-day-container {
    grid-area: fifteen-day-container;
}

#footer-container {
    grid-area: footer-container;
    color: #324C5B;
    text-align: end;
}

button {
    border-radius: 17px;
    padding: 6px;
    background: none;
    color: #507D93;
    border: 2px solid #324C5B;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

#change-location-btn {
    padding: 6px 10px;
}

button:hover {
    border: 2px solid #5a798b;
}

#degrees-celsius-btn, 
#fahrenheit-btn {
    width: 32px;
}

#time {
    text-align: end;
}

.container-block {
    background: #010E1C;
    border: 2px solid #324454;
    padding: 6%;
    box-shadow: 6px 6px 7px #00000061;
}

/*-------------------------------Current block------------------------------------*/

.current-value {
    font-size: 1.5em;
}

#current-anchors {
    grid-area: current-anchors;
    display: inline-flex;
    gap: 25px;
}

#current-low-temp, 
#current-high-temp, 
#current-wind-speed, 
#current-rain {
    font-size: 4rem;
}

#current-low-temp, 
#current-high-temp, 
#current-conditions, 
#current-wind-speed, 
#current-rain {
    color: #BBE5FF;
}

#current-conditions {
    grid-area: current-conditions;
}

#current-low {
    grid-area: current-low;
}

#current-high {
    grid-area: current-high;
}

#current-wind {
    grid-area: current-wind;
}

#current-rain-container {
    grid-area: current-rain-container;
}

#current-sunrise, 
#current-sunset, 
#current-moonphase {
    display: inline-grid;
}

#current-sun-moon {
    grid-area: current-sun-moon;
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
}

#current-container {
    display: inline-grid;
    gap: 20px;
    grid-template-columns: 100px 170px 1fr;
    grid-area: current-container;
}

/*-------------------------------Current block end------------------------------------*/


/*------------------------------------Full Screen-----------------------------------*/

#app-container {
    grid-template-areas: 
        "head-container head-container" 
        "current-container five-day-container" 
        "hourly-container hourly-container" 
        "fifteen-day-container fifteen-day-container" 
        "footer-container footer-container";
    grid-template-columns: 1fr 1fr;
}

#current-container {
    grid-template-areas:
        "current-anchors current-anchors current-conditions"
        "current-low current-wind current-sun-moon"
        "current-high current-rain-container current-sun-moon";
}

/*--------------------------------------Tablet--------------------------------------*/

@media only screen and (max-width: 1030px) {
    #app-container {
        grid-template-areas: 
            "head-container" 
            "current-container"
            "five-day-container" 
            "hourly-container" 
            "fifteen-day-container" 
            "footer-container";
        grid-template-columns: 1fr;
    }

    #head-container {
        grid-template-columns: initial;
        justify-items: center;
    }
}

/*--------------------------------------Mobile--------------------------------------*/

@media only screen and (max-width: 600px) {
    #current-container {
        grid-template-areas:
            "current-anchors current-anchors"
            "current-conditions current-conditions"
            "current-low current-wind"
            "current-high current-rain-container"
            "current-sun-moon current-sun-moon";
        grid-template-columns: 1fr 1fr;
    }
}