@font-face {
    font-family: upbolters;
    src: url(./upbolters.otf);
}

a {
    text-decoration: none;
}

.active-btn {
    background: #bbe5ff;
    color: #010e1c;
}

#app-container {
    display: inline-grid;
    gap: 15px;
    width: 100%;
}

body {
    color: #80AFD1;
    margin: auto;
    font-family: upbolters;
    background: #010E1C;
    font-size: 1.3em;
    max-width: 1230px;
    padding: 30px 20px;
}

#head-container {
    grid-area: head-container;
    display: inline-grid;
    grid-template-columns: 300px 2fr 2fr;
    gap: 15px;
    align-items: center;
    font-size: 20px;
}

#location-block, 
#warnings-container {
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

#warnings-container {
    justify-content: flex-end;
}

span, .active, #five-day-heading, .large-temp
 {
    color: #BBE5FF;
}

#speed, 
#amount, 
.inactive {
    color: #324C5B;
}

#direction {
    font-size: 22px;
}

hr {
    margin: 0px auto 3px;
    width: 80%;
    border: 1px solid #bbe5ff;
}

#five-day-container {
    grid-area: five-day-container;
}

#hourly-container {
    grid-area: hourly-container;
}

#fifteen-day-container {
    grid-area: fifteen-day-container;
}

#footer-container {
    grid-area: footer-container;
    color: #324C5B;
    text-align: end;
}

button {
    border-radius: 17px;
    padding: 6px;
    background: none;
    color: #507D93;
    border: 2px solid #324C5B;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}



button:hover {
    border: 2px solid #5a798b;
}

#degrees-celsius-btn, 
#fahrenheit-btn, 
.Search {
    width: 32px;
    margin-left: 7px;
}

#time {
    text-align: end;
}

.container-block {
    background: #010E1C;
    border: 2px solid #324454;
    padding: 6%;
    box-shadow: 6px 6px 7px #00000061;
}

input[type="text"] {
    background: #ffffff00;
    color: #bbe5ff;
    padding: 6px 11px;
    border: 2px solid;
    border-radius: 15px 0 0 15px;
}

#Search {
    border-radius: 0;
    border-color: #bbe5ff;
    background: url(./icons/search.svg) no-repeat #bbe5ff;
    height: 31px;
    width: 31px;
}

#snow, 
#rain, 
#clear-day, 
#fog, 
#wind, 
#clear-night, 
#partly-cloudy-night, 
#partly-cloudy-day, 
#cloudy {
    display: flex; 
    gap:10px;
}

#clear-day::before, .clear-day::before {
    content: url(./icons/sunny.svg);
    width: 35px;
}

#snow::before, .snow::before {
    content: url(./icons/snow.svg);
    width: 35px;
}

#rain::before, .rain::before {
    content: url(./icons/rainy.svg);
    width: 35px;
}


#fog::before, .fog::before {
    content: url(./icons/foggy.svg);
    width: 35px;
}

#wind::before, .wind::before {
    content: url(./icons/windy.svg);
    width: 35px;
}

#clear-night::before, .clear-night::before {
    content: url(./icons/clear-night.svg);
    width: 35px;
}

#partly-cloudy-night::before, .partly-cloudy-night::before {
    content: url(./icons/cloudy-night.svg);
    width: 35px;
}

#partly-cloudy-day::before, .partly-cloudy-day::before {
    content: url(./icons/cloudy-day.svg);
    width: 35px;
}

#cloudy::before, .cloudy::before {
    content: url(./icons/overcast.svg);
    width: 35px;
}

.searching {
    border-radius: 0 15px 15px 0;
    color: #bbe5ff;
    border-color: #bbe5ff;
    background: url(./icons/close.svg) no-repeat #010e1c !important;
    background-size: 20px;
    background-position: center;
}

#change-location-btn {
    background: url(./icons/plus.svg) no-repeat #010e1c;
    height: 31px;
    width: 31px;
    background-size: 20px;
    background-position: center;
}

#buttons-block {
    display: flex;
}

.hideSearch {
    display: none;
}

/*-------------------------------Current block------------------------------------*/

.current-value {
    font-size: 1.5em;
}

#current-anchors {
    grid-area: current-anchors;
    display: inline-flex;
    gap: 45px;
}

#current-low-temp, 
#current-high-temp, 
#current-wind-speed, 
#current-rain,
.large-temp {
    font-size: 4rem;
}

#current-low-temp, 
#current-high-temp, 
#current-conditions, 
#current-wind-speed, 
#current-rain {
    color: #BBE5FF;
}

#current-conditions {
    grid-area: current-conditions;
}

#current-low {
    grid-area: current-low;
}

#current-high {
    grid-area: current-high;
}

#current-wind {
    grid-area: current-wind;
}

#current-rain-container {
    grid-area: current-rain-container;
}

#current-sunrise, 
#current-sunset, 
#current-moonphase {
    display: inline-grid;
}

#current-sun-moon {
    grid-area: current-sun-moon;
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
}

#current-container {
    display: inline-grid;
    gap: 20px;
    grid-template-columns: 100px 135px 1fr;
    grid-area: current-container;
}


/*-----------------------------------5 day block-------------------------------------*/

#five-day-container {
    display: inline-grid;
    gap: 20px;
    grid-template-rows: 25px 1fr;
}

#five-day-temps-container {
    display: inline-grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow-x: scroll;
    scrollbar-width: none;
    scrollbar-color: #bbe5ff #010e1c;
    align-items: end;
    justify-items: center;
}
/*--------------------------------Hourly block-------------------------------------*/

#hourly-container {
    padding: 3%;
    display: inline-grid;
    gap: 20px;
}

.hour {
    margin: 10px 0;
}

#hours-container {
    display: inline-flex;
    gap: 10px;
    align-items: flex-end;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: #bbe5ff #010e1c;
}

.hourly-temp {
    font-size: 2em;
    text-align: center;
    color: #bbe5ff;
}

/*----------------------------------Fifteen day block---------------------------------*/

#fifteen-day-container {
    padding: 3%;
    display: inline-grid;
    gap: 20px;
}

#days-container {
    display: inline-flex;
    gap: 25px;
    align-items: flex-end;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: #bbe5ff #010e1c;
}

.daily-temp {
    font-size: 3em;
    text-align: center;
    color: #bbe5ff;
}

#days-container {
    display: inline-flex;
    gap: 15px;
    align-items: flex-end;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: #bbe5ff #010e1c;
}

.day {
    width: 60px;
    margin: auto;
}


/*------------------------------------Full Screen-----------------------------------*/

#app-container {
    grid-template-areas: 
        "head-container head-container" 
        "current-container five-day-container" 
        "hourly-container hourly-container" 
        "fifteen-day-container fifteen-day-container" 
        "footer-container footer-container";
    grid-template-columns: 1fr 1fr;
}

#current-container {
    grid-template-areas:
        "current-anchors current-anchors current-conditions"
        "current-low current-wind current-sun-moon"
        "current-high current-rain-container current-sun-moon";
}

/*--------------------------------------Tablet--------------------------------------*/

@media only screen and (max-width: 1030px) {
    #app-container {
        grid-template-areas: 
            "head-container" 
            "current-container"
            "five-day-container" 
            "hourly-container" 
            "fifteen-day-container" 
            "footer-container";
        grid-template-columns: 1fr;
    }

    #head-container {
        grid-template-columns: initial;
        justify-items: center;
    }
}

/*--------------------------------------Mobile--------------------------------------*/

@media only screen and (max-width: 600px) {
    #current-container {
        grid-template-areas:
            "current-anchors current-anchors"
            "current-conditions current-conditions"
            "current-low current-wind"
            "current-high current-rain-container"
            "current-sun-moon current-sun-moon";
        grid-template-columns: 1fr 1fr;
    }

    #location-block {
        flex-direction: column;
    }

    #five-day-temps-container {
        scrollbar-width: thin;
    }

    #hourly-container {
        padding: 6%;
    }
}
